---
# tasks file for gitlab-docker-compose
-
- name: 'Add user to docker group'
  become: yes
  user:
    name: "{{ user_name }}"
    shell: /bin/bash
    groups: docker
    append: yes

- name: 'create docker-compose file from template'
  template:
      src: ../templates/docker-compose.j2
      dest: /home/{{ user_name }}/docker-compose.yml

- name: 'docker-compose pull'
  shell: docker-compose pull

# TODO add cronjob and backup / restore / update scripts
